
body {
    background-color: #A080E6;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    box-sizing: border-box;
} 

div#calculadora {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 60vw;
    max-width: 500px;
    height: 67vh;
    background: #d0c0f3;
    border: 3px solid #FFFFFF;
    border-radius: 1.8em;
    margin: 66px auto;
}

div#visor {
    width: 75%;
    background-color: #A080E6;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: .4em;
    color: white;
    text-align: right;
    font-size: 2em;
    font-weight: bold;
    padding: .3em .3em;
}

div#botoes {
    width: 70%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    /* align-content: ; */
}

div#secao2 {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    justify-content: space-between;
}

div#secao1  {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.1em;
    row-gap: 1.3em;
}

button {
    width: 51px;
    height: 44px;
    border-color: white;
    border-style: solid;
    border-radius: .3em;
    border-width: 1.5px;
    color: white;
    background: #d0c0f3;
}

button.acoes {
    border-width: 2px;
    font-weight: bold;
}

button.operadores {
    font-size: 1.3em;
}

button.numeros {
    font-weight: bolder;
}

button#igual {
    width: 51px;
    height: 51px;
    border-radius: 50px;
    background-color: #A080E6;
    padding-top: 3px;
    font-size: 18pt;
}

button#decimal {
    font-size: 20pt;
    padding-bottom: 15px;
    padding-top: -10px;
}

button#AC, button#apagar {
    margin:  0;
}

button#AC, button#_0 {
    grid-column: 1 / span 2;
    width: auto;
}

button.acoes:hover, button.numeros:hover, button#decimal:hover {
    background-color: #ece6fa;
}

button.acoes:active, button.numeros:active, button#decimal:active {
    background-color: #dcd0f6;
}

button#igual:hover {
    background:#d9ccf5;
}

button#igual:active {
    background:#b8a0ec;
}

button#multiplicacao {
    padding-top: 10px;
}

button#subtracao {
    padding-bottom: 5px;
    padding-right: 8px;
}

button#apagar {
    padding-top: 2px;
}